haskell/free-foil/src/Language/LambdaPi/Syntax/Abs.hs linguist-generated=true
haskell/free-foil/src/Language/LambdaPi/Syntax/Doc.txt linguist-generated=true
haskell/free-foil/src/Language/LambdaPi/Syntax/Layout.hs linguist-generated=true
haskell/free-foil/src/Language/LambdaPi/Syntax/Layout.hs linguist-generated=true
