haskell/free-foil/src/Language/LambdaPi/Syntax/Lex.hs
haskell/free-foil/src/Language/LambdaPi/Syntax/Par.hs
haskell/free-foil/src/Language/LambdaPi/Syntax/Test
haskell/free-foil/src/Language/LambdaPi/Syntax/Test.hs
haskell/free-foil/src/Language/LambdaPi/Syntax/Skel.hs
haskell/free-foil/src/Language/LambdaPi/Syntax/ErrM.hs

scala/free-foil/src/main/scala/.scala-build/

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.bak
.metals/
.vscode/
